
  .sam img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  img:hover{
    transform: translateX(1.5);
  }

  ul {
    line-height: 25px;
  }

 


  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .box {
      width: 150px;
      height: 150px;
    }
  }


